/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  color: #333;
}

/* Theme Toggle */
#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1.5rem;
  color: inherit;
}

/* Navigation Menu */
/* nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
} */

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 15px;
  display: block;
}

/* Mobile Navigation */
.nav-toggle {
  display: none;
}

.nav-menu {
  display: flex;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #000;
  animation: colorChange 2s ease-in-out 0s infinite alternate both;
}

@keyframes colorChange {
  0% {
    color: #fff;
  }
  50% {
    color: #000;
  }
  100% {
    color: #fff;
  }
}

h1, h2 {
  text-align: center;
  margin: 20px 0;
}

/* Hero Section */
.hero {
  background-image: url('./assets/img/bg_image2.avif');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.hero-content h1 {
  font-size: 3rem;
  margin: 0;
}

.hero-content p {
  font-size: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
}

.btn:hover {
  background-color: #555;
}

/* About Section */
.about {
  padding: 50px 20px;
  background-color: #fff;
  text-align: center;
}

/* Skills Section */
.skills {
  padding: 50px 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.skills-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.skill {
  width: 45%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
}

.skill:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.skill-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.skill-logo {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  flex-shrink: 0;
}

.skill-details {
  text-align: left;
  width: calc(100% - 60px); /* Adjust this to allocate more space for skill details */
}

.skill-details h3 {
  margin: 0 0 10px 0;
  color: #333;
}

.progress-bar {
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  height: 20px;
  margin-bottom: 10px;
  width: 100%; /* Ensure the progress bar takes full width of the details container */
}

.progress {
  background-color: #333;
  height: 100%;
  border-radius: 5px;
  transition: width 0.3s ease;
}

.skill-percentage {
  font-weight: bold;
  color: #7f7474;
  display: contents;
}

/* Portfolio Section */
.portfolio {
  padding: 50px 20px;
  background-color: #f4f4f4;
}

.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-item {
  width: 300px;
  margin: 10px;
  position: relative;
  background-color: gainsboro;
  transition: transform 0.3s ease;
}

.portfolio-item:hover {
  transform: scale(1.05);
}

.portfolio-item img {
  width: 100%;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 5px;
}

.portfolio-item:hover .overlay {
  opacity: 1;
}

/* Contact Section */
.contact {
  padding: 50px 20px;
  background-color: #fff;
}

#contact-form {
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#contact-form input,
#contact-form textarea {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

#contact-form textarea {
  resize: vertical;
  min-height: 150px;
}

#contact-form button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#contact-form button:hover {
  background-color: #555;
}

.error {
  color: red;
  font-size: smaller;
}

/* Footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Education Section */
.education {
  padding: 50px 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.education-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education-item {
  display: flex;
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.education-item:hover {
  transform: scale(1.03);
}

.education-image {
  width: 30%;
  min-width: 150px;
  background-color: #333;
}

.education-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.education-content {
  padding: 20px;
  text-align: left;
  flex: 1;
}

.education-content h3 {
  margin: 0 0 10px;
  color: #333;
}

.education-content p {
  margin: 5px 0;
  color: #555;
}

/* Media Queries */
@media (max-width: 768px) {
  .education-item {
    flex-direction: column;
    width: 100%;
  }

  .education-image {
    width: 100%;
    height: 200px;
  }

  .education-content {
    text-align: center;
  }

  .skill {
    width: 100%;
  }

  .skill-logo {
    width: 35px;
    height: 35px;
  }

  .skill-details {
    width: calc(100% - 50px); /* Adjust this for better scaling on smaller screens */
  }

  #contact-form {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .education-content h3 {
    font-size: 1.2rem;
  }

  .education-content p {
    font-size: 0.9rem;
  }

  #contact-form {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}
